pkgbase = tidefiles
	pkgdesc = Keyboard-first terminal file manager that follows your Omarchy theme
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/linuxbren/tidefiles
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	depends = wl-clipboard
	depends = glib2
	optdepends = ripgrep: faster search inside files
	optdepends = 7zip: archives bsdtar cannot open
	optdepends = imagemagick: previews of jpeg, svg, heic and other images
	optdepends = poppler: PDF previews
	optdepends = ffmpegthumbnailer: video previews
	optdepends = ffmpeg: audio tags in previews
	optdepends = xdg-utils: open files in their default app
	optdepends = xdg-terminal-exec: open a terminal here
	source = tidefiles-0.7.0.tar.gz::https://github.com/linuxbren/tidefiles/archive/v0.7.0.tar.gz
	sha256sums = cfd72ddc0c5fdbb734bb58c37bc9003a890e5490f5ce4b3de8847ec7049f9100

pkgname = tidefiles
